.main-form {
  margin: 4% 50% 4% 10px;
  padding: 16px;
  background-color: rgb(42, 157, 143);
  border-radius: 10px;
  height: 100%;
  animation: formAnimation 1s forwards 0s ease;
}

@keyframes formAnimation {
  0% {
    transform: rotate(0) translateY(-20%);
    rotate: -15deg;
    opacity: 0;
  }
  100% {
    transform: rotate(0) translateY(0);
    opacity: 1;
    rotate: 0deg;
    box-shadow: 0 3px 3px rgba(66, 66, 66, 0.3);
  }
}

label {
  position: relative;
  display: block;
}

input,
select {
  display: block;
  align-items: center;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0);
  padding: 10px;
  width: 95%;
  margin-bottom: 16px;
  font-size: 20px;
  outline: none;
  color: rgb(80, 80, 80);
}

input[type="text"]:focus {
  border: 1px solid rgb(75, 75, 75);
}

button {
  width: 2em;
  height: 2em;
  background-color: rgb(0, 189, 189);
  border: none;
  font-size: 18px;
  color: rgb(80, 80, 80);
  border-radius: 2em;
}

button:hover {
  background-color: cyan;
  box-shadow: 0 3px 3px rgba(66, 66, 66, 0.3);
  transition: 0.2s forwards ease;
  cursor: pointer;
}
